Repository facebookincubator/TTPForge, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage, area/docs, area/ttps

chore(deps): update actions/checkout action to v3.5.3 (#141)
  .github/workflows/container.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update golang docker tag to v1.20.5 (#142)
  .devcontainer/bash/Dockerfile
Labels: none

chore(deps): update docker/build-push-action digest to 2eb1c19
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update docker/setup-buildx-action digest to ecf9528
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 336e299
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.5
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update renovatebot/github-action action to v38.1.7
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/l50/goutils to v2
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

chore(deps): update docker/build-push-action digest to 2eb1c19 (#145)
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update docker/setup-buildx-action digest to ecf9528 (#146)
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 336e299 (#147)
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.5 (#148)
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update renovatebot/github-action action to v38.1.7 (#149)
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.1.0 (#150)
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(deps): update module github.com/l50/goutils to v2 (#151)
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

Added proper variadic parameters example
  ttps/examples/variadic-params/README.md
  ttps/examples/variadic-params/delta.log
  ttps/examples/variadic-params/variadicParameterExample.go
  ttps/examples/variadic-params/variadicParameterExample.yaml
Labels: area/ttps

Updated run_integration_test to be more robust
  cmd/run_integration_test.go
  go.mod
  go.sum
  ttps/examples/variadic-params/variadicParameterExample.yaml
Labels: area/go, area/ttps

Updated magefile
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Labels: area/go, area/mage

Add copyright header
  cmd/run_integration_test.go
Labels: area/go

Minor linting
  cmd/run_integration_test.go
  go.mod
  go.sum
  pkg/blocks/common_test.go
Labels: area/go

Synchronized go mods with main
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

Removed copyright headers from run_integration_test.go
  cmd/run_integration_test.go
Labels: area/go

I131 variadic arg update (#143)
  .vscode/launch.json
  cmd/run.go
  cmd/run_integration_test.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  pkg/blocks/common_test.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
  ttps/examples/variadic-params/README.md
  ttps/examples/variadic-params/variadicParameterExample.go
  ttps/examples/variadic-params/variadicParameterExample.yaml
Labels: area/go, area/mage, area/ttps

remove dead code
  cmd/run.go
Labels: area/go

remove redundant subttp test cases (they are covered by earlier tests
  pkg/blocks/subttp_test.go
Labels: area/go

check for ambiguous step types and add test cases for new verification code
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Labels: area/go

purge invalid subTTP test
  pkg/blocks/subttp_test.go
Labels: area/go

functional execution test that runs a subttp
  pkg/blocks/subttp_test.go
Labels: area/go

sub ttp step now checks output
  pkg/blocks/subttp_test.go
Labels: area/go

Bugfixes: SubTTP Tests and Ambiguous Steps (#153)
  cmd/run.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Labels: area/go

support passing args to sub ttps
  .vscode/launch.json
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Labels: area/go

precommit
  .vscode/launch.json
Labels: none

Support Passing Arguments to SubTTPs (#154)
  .vscode/launch.json
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Labels: area/go

add complexity to subttp test so that it will correctly assess inventoryPath
  pkg/blocks/subttp_test.go
Labels: area/go

chore(deps): update renovatebot/github-action action to v38.1.8
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/otiai10/copy to v1.12.0
  go.mod
  go.sum
Labels: area/go

temporarily revert subttp test change to get clean tests - remove inventoryPath refs from other parts of code tests still pass
  cmd/run.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
Labels: area/go

remove global inventoryPath references
  pkg/blocks/common.go
Labels: area/go

start packaging execution context in ExecutionConfig
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
Labels: area/go

rename ExecutionConfig to ExecutionContext
  cmd/run.go
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute_test.go
Labels: area/go

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "main.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

area/docs:
  - "docs/*"

area/ttps:
  - "ttps/**/*"
