Repository facebookincubator/TTPForge, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage, area/docs, area/ttps

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "main.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

area/docs:
  - "docs/*"

area/ttps:
  - "ttps/**/*"

chore(deps): pin dependencies
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to d84805b
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update golang docker tag to v1.20.4
  .devcontainer/bash/Dockerfile
Labels: none

chore(deps): update renovatebot/github-action action to v37
  .github/workflows/renovate.yaml
Labels: area/github

Removed circular dependencies concern from doc for future discussion
  docs/testing.md
Labels: area/docs

Improve Testing Guidelines
  docs/testing.md
Labels: area/docs

Incorporated some of Sam's requested changes
  docs/testing.md
Labels: area/docs

Removed circular dependencies concern from doc for future discussion
  docs/testing.md
Labels: area/docs

Added additional information to the testing doc
  docs/testing.md
Labels: area/docs

remove unused global filesystem
  pkg/blocks/sync.go
Labels: area/go

remove superfluous file system in test - still fails validation as desired
  pkg/blocks/subttp_test.go
Labels: area/go

update test to appropriately fail
  pkg/blocks/subttp_test.go
Labels: area/go

fix bugs in sub TTPs test and implementation
  pkg/blocks/common.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/sync_test.go
  pkg/files/yaml.go
Labels: area/go

make stat error handling work correctly - template tests fail must analyze why
  pkg/blocks/common.go
Labels: area/go

fix compatibility with template tests
  pkg/blocks/common.go
  pkg/files/file.go
Labels: area/go

appease precommit
  pkg/blocks/common.go
  pkg/files/file.go
Labels: area/go

spelling
  pkg/blocks/common.go
Labels: area/go

Fix SubTTP Filesystem Handling and Tests (#112)
  pkg/blocks/common.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/sync_test.go
  pkg/files/file.go
  pkg/files/yaml.go
Labels: area/go

chore(deps): update actions/setup-go digest to fac708d
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 245bf11
  .github/workflows/semgrep.yaml
Labels: area/github

fix(deps): update module github.com/stretchr/testify to v1.8.3
  go.mod
  go.sum
Labels: area/go

fix(deps): update module github.com/magefile/mage to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

fix(deps): update module github.com/magefile/mage to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

fix(deps): update module github.com/stretchr/testify to v1.8.3
  go.mod
  go.sum
Labels: area/go

chore(deps): update returntocorp/semgrep-action digest to 245bf11
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update actions/setup-go digest to fac708d
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to bd6b4b6
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 7120226
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.0.4
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/l50/goutils to v1.3.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

chore(deps): update renovatebot/github-action action to v38
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v38
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/l50/goutils to v1.3.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update actions/setup-python digest to bd6b4b6
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 7120226
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.0.4
  .github/workflows/meta-labeler.yaml
Labels: area/github

stub for edit step - no functionality
  pkg/blocks/editstep.go
  pkg/blocks/step.go
Labels: area/go
