Repository facebookincubator/TTPForge, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage, area/docs, area/ttps

rename execCfg to execCtx for clarity
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
Labels: area/go

fix error style
  pkg/blocks/ttps.go
Labels: area/go

fix test to fail fast and avoid weird error messages
  pkg/blocks/subttp_test.go
Labels: area/go

pass TTPExecutionContext to validate
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Labels: area/go

subTTP now actually uses ttp_search_paths
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/ttps.go
Labels: area/go

add current directory test case
  pkg/blocks/subttp_test.go
Labels: area/go

rename to decodeSteps for accuracy
  pkg/blocks/ttps.go
Labels: area/go

test end-to-end
  cmd/root.go
  cmd/run.go
  config.yaml
  ttps/examples/sub-ttps/example.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp1.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp2.yaml
Labels: area/go, area/ttps

appease precommit
  pkg/blocks/subttp.go
  ttps/examples/sub-ttps/example.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp1.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp2.yaml
Labels: area/go, area/ttps

disable go-critic
  .pre-commit-config.yaml
  pkg/blocks/subttp.go
Labels: area/pre-commit, area/go

switch to ttp_search_path - more accurate
  cmd/root.go
  cmd/run.go
  config.yaml
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
Labels: area/go

fix comment
  cmd/root.go
Labels: area/go

Added custom go-critic pre-commit hook
  .hooks/go-critic.sh
  .pre-commit-config.yaml
Labels: area/pre-commit

Added custom go-critic pre-commit hook (#159)
  .hooks/go-critic.sh
  .pre-commit-config.yaml
Labels: area/pre-commit

address comments
  .pre-commit-config.yaml
  pkg/blocks/subttp.go
Labels: area/pre-commit, area/go

fix(deps): update module github.com/otiai10/copy to v1.12.0 (#156)
  go.mod
  go.sum
Labels: area/go

chore(deps): update renovatebot/github-action action to v38.1.8 (#155)
  .github/workflows/renovate.yaml
Labels: area/github

SubTTP Fixes and Updates (#158)
  cmd/root.go
  cmd/run.go
  config.yaml
  pkg/blocks/basicstep.go
  pkg/blocks/common.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute_test.go
  ttps/examples/sub-ttps/example.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp1.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp2.yaml
Labels: area/go, area/ttps

Fix output and add step type wrappers
  cmd/new_test.go
  cmd/procedure.go
  cmd/procedure_test.go
  cmd/run_integration_test.go
  go.mod
  go.sum
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Labels: area/go

Removed dead code that was originally for embedding
  cmd/procedure.go
  cmd/procedure_test.go
  embed.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Labels: area/go

chore(deps): update docker/setup-buildx-action digest to 16c0bc4
  .github/workflows/container.yaml
Labels: area/github

fix(deps): update module github.com/l50/goutils/v2 to v2.0.7
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

chore(deps): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

New test and debug configuration
  .vscode/launch.json
  cmd/new.go
  go.mod
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/ttps_test.go
Labels: area/go

Clean up and refactor TTP decoding and step validation
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Labels: area/go

Fixed failing tests
  pkg/blocks/step_test.go
  pkg/blocks/ttps.go
  pkg/files/yaml_test.go
Labels: area/go

Fixed duplicate comment
  pkg/blocks/step.go
Labels: area/go

chore(deps): update actions/labeler action to v4.2.0 (#165)
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(deps): update module github.com/l50/goutils/v2 to v2.0.7 (#164)
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

chore(deps): update docker/setup-buildx-action digest to 16c0bc4 (#163)
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v38.1.9
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/l50/goutils/v2 to v2.0.8
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

fix(deps): update module github.com/l50/goutils/v2 to v2.0.8 (#169)
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

chore(deps): update renovatebot/github-action action to v38.1.9 (#168)
  .github/workflows/renovate.yaml
Labels: area/github

Update magefile.go
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Labels: area/go, area/mage

Replaced testing doc with code-standards
  README.md
  docs/code-standards.md
  docs/testing.md
Labels: area/docs

Updated exported functions to match autogen doc standard
  pkg/blocks/step.go
  pkg/blocks/step_test.go
Labels: area/go

Added exported interface comment template
  docs/code-standards.md
  magefiles/go.mod
  magefiles/go.sum
  magefiles/tmpl/README.md.tmpl
Labels: area/go, area/mage, area/docs

Fixed formatting in README template
  .docgenignore
  magefiles/tmpl/README.md.tmpl
Labels: none

Minor standards and package updates
  .docgenignore
  docs/code-standards.md
Labels: area/docs

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "main.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

area/docs:
  - "docs/*"

area/ttps:
  - "ttps/**/*"
