Repository facebookincubator/TTPForge, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage, area/docs, area/ttps

More comment updates to fit with autogen docs
  pkg/blocks/step.go
  pkg/files/file.go
Labels: area/go

Remove duplicated code and add example tests
  README.md
  docs/code-standards.md
  pkg/files/file_examples_test.go
  pkg/strings/strings.go
  pkg/strings/strings_test.go
Labels: area/go, area/docs

Added generate docs pre-commit hook
  .hooks/generate-docs.sh
Labels: area/pre-commit

Remove unused log statements and update error handling
  cmd/new.go
  cmd/run_integration_test.go
  magefiles/magefile.go
  pkg/files/file.go
  pkg/files/file_examples_test.go
Labels: area/go, area/mage

Bug fixes
  go.sum
  pkg/blocks/step.go
  pkg/files/file_examples_test.go
Labels: area/go

Code cleanup
  cmd/run_integration_test.go
Labels: area/go

Updated comments
  cmd/run_integration_test.go
  pkg/blocks/step.go
  pkg/files/file.go
  pkg/files/file_test.go
Labels: area/go

Linter appeasement
  .hooks/generate-docs.sh
  magefiles/go.sum
  pkg/files/file_examples_test.go
Labels: area/pre-commit, area/go, area/mage

Added .tool-versions file for asdf
  .tool-versions
Labels: none

Added main to exclude_packages for docgen
  cmd/README.md
  magefiles/go.sum
  magefiles/magefile.go
  pkg/files/file_examples_test.go
Labels: area/go, area/mage

Working doc generation
  cmd/README.md
  go.sum
  pkg/blocks/README.md
  pkg/files/README.md
  pkg/logging/README.md
  pkg/network/README.md
  pkg/runner/README.md
Labels: area/go

Add debug magefile
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

Add missing generated docs
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/tasks.json
  cmd/README.md
  go.sum
  pkg/blocks/README.md
  pkg/network/README.md
  pkg/network/proxy.go
Labels: area/pre-commit, area/go

Removed dead code
  cmd/README.md
  cmd/procedure.go
  embed.go
Labels: area/go

Resolved issue with docgen in PC action
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
Labels: area/github, area/pre-commit

Fixed indentation issues in files package
  pkg/files/README.md
  pkg/files/file.go
  pkg/files/yaml.go
  pkg/network/README.md
Labels: area/go

Add gendoc PC hook; Fixed remaining markdown generation issues
  .docgenignore
  .hooks/generate-docs.sh
  .pre-commit-config.yaml
  cmd/README.md
  cmd/root.go
  pkg/blocks/README.md
  pkg/blocks/common.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/sync.go
  pkg/blocks/ttps.go
  pkg/files/file.go
  pkg/files/yaml.go
Labels: area/pre-commit, area/go

Updated testing hook name for accuracy
  .github/workflows/tests.yaml
  .hooks/run-go-tests.sh
  magefiles/magefile.go
Labels: area/github, area/pre-commit, area/go, area/mage

Improved error handling and output capture in integration test
  cmd/run_integration_test.go
Labels: area/go

make cleanups still run even when a step fails - now need tests
  pkg/blocks/ttps.go
Labels: area/go

make Execute(...) return an execution result
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/results.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
Labels: area/go

basic step now returns executeResult appropriately - first test case works
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
Labels: area/go

break out config from context - all tests pass
  cmd/run.go
  pkg/blocks/basicstep.go
  pkg/blocks/results.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute_test.go
Labels: area/go

start passing execution results up the stack - need to temporarily disable variable expansion pending refactor
  pkg/blocks/results.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute_test.go
Labels: area/go

test case against output end-to-end
  pkg/blocks/ttps_test.go
Labels: area/go

update cleanup interface to permit returning results
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Labels: area/go

assert against cleanup successfully - will not work for subTTPs though need test case for that
  pkg/blocks/results.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Labels: area/go

reorg test to match
  pkg/blocks/ttps_test.go
Labels: area/go

aggregate subttp outputs
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Labels: area/go

refactor remaining subttp tests and remove superfluous output references
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Labels: area/go

remove now-superfluous setup calls
  pkg/blocks/subttp_test.go
Labels: area/go

remove dead code TTP.Failed method
  pkg/blocks/ttps.go
Labels: area/go

purge SetOutputSuccess and associated Success() calls - all tests pass
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
Labels: area/go

remove dead member variable
  pkg/blocks/step.go
Labels: area/go

remove cleanupname and give subttp its own cleanup behavior
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
Labels: area/go

start testing against sub ttp cleanup handling
  pkg/blocks/subttp_test.go
Labels: area/go

delete redundant copyright notice
  pkg/blocks/subttp.go
Labels: area/go

add test to ensure cleanup runs after step failure
  pkg/blocks/ttps_test.go
Labels: area/go

delete redundant test
  pkg/blocks/ttps_test.go
Labels: area/go

correctly return error up the chain from RunSteps
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Labels: area/go

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "main.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

area/docs:
  - "docs/*"

area/ttps:
  - "ttps/**/*"
