Repository facebookincubator/TTPForge, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage, area/docs, area/ttps

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "main.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

area/docs:
  - "docs/*"

area/ttps:
  - "ttps/**/*"

Minor doc content updates
  README.md
  docs/dev.md
Labels: area/docs

Improve barrier to entry for new forgers
  README.md
Labels: none

quick tidy
  go.sum
Labels: area/go

go get golang.org/x/net@v0.13.0
  go.mod
  go.sum
Labels: area/go

Upgrade vulnerable dependency - appease nancy (#215)
  go.mod
  go.sum
Labels: area/go

Variable expansion now ignores leading and trailing spaces in variable specifier - Closes #208
  pkg/blocks/context.go
  pkg/blocks/context_test.go
Labels: area/go

Variable expansion now ignores leading and trailing spaces in variable specifier
  pkg/blocks/context.go
  pkg/blocks/context_test.go
Labels: area/go

Removed last example from ttps
  .gitignore
  ttps/privilege-escalation/credential-theft/hello-world/hello-world.sh
  ttps/privilege-escalation/credential-theft/hello-world/ttp-inline.yaml
  ttps/privilege-escalation/credential-theft/hello-world/ttp.yaml
Labels: area/ttps

Fixed vulnerable dependency
  go.mod
  go.sum
Labels: area/go

Removed last example from ttps (#216)
  .gitignore
  go.sum
  ttps/privilege-escalation/credential-theft/hello-world/hello-world.sh
  ttps/privilege-escalation/credential-theft/hello-world/ttp-inline.yaml
  ttps/privilege-escalation/credential-theft/hello-world/ttp.yaml
Labels: area/go, area/ttps

chore(deps): update golang docker tag to v1.20.7
  .devcontainer/bash/Dockerfile
  .tool-versions
Labels: none

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module go.uber.org/zap to v1.25.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update golang docker tag to v1.20.7 (#217)
  .devcontainer/bash/Dockerfile
  .tool-versions
Labels: none

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1 (#218)
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module go.uber.org/zap to v1.25.0 (#219)
  go.mod
  go.sum
Labels: area/go

delete dead code
  pkg/blocks/sync.go
Labels: area/go

remove redundant tests
  pkg/blocks/sync_test.go
Labels: area/go

temporarily comment out a bunch of stuff so that I can tackle subTTPs later
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
Labels: area/go

remove redundant test
  pkg/blocks/ttps_test.go
Labels: area/go

first templated test started working - need to restore output handling
  pkg/blocks/sync.go
  pkg/blocks/ttps_test.go
Labels: area/go

conditional tests almost working but I need to retool args to make them properly typed
  pkg/blocks/ttps_test.go
Labels: area/go

fix indentation
  pkg/blocks/ttps_test.go
Labels: area/go

port args to be of type any - needed to comment out incompatible tests but key ones like cmd and pkg/blocks pass
  cmd/run.go
  cmd/run_integration_test.go
  pkg/args/spec.go
  pkg/args/spec_test.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/context.go
  pkg/blocks/context_test.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/outputs/outputs_test.go
  pkg/runner/execute_test.go
Labels: area/go

add strong typing to args
  pkg/args/spec.go
  pkg/args/spec_test.go
Labels: area/go

add test case indicating that argument types are not correctly handled
  cmd/run_integration_test.go
Labels: area/go

give file a better name
  pkg/blocks/load.go
Labels: area/go

rename again
  pkg/blocks/loader.go
Labels: area/go

ttp linting stub - requires further work
  pkg/blocks/loader.go
  pkg/blocks/loader_test.go
Labels: area/go

WIP - linter still in bits in pices - parse out arg specs - almost ready for strong typing
  pkg/blocks/loader.go
  pkg/blocks/loader_test.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
Labels: area/go

strong typing of arguments now works end to end, run integration tests passes
  cmd/run_integration_test.go
  pkg/blocks/loader.go
  pkg/files/yaml.go
Labels: area/go

subttp with template args now functions correctly - passes through
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Labels: area/go

re-enable subttps as valid step type
  pkg/blocks/ttps.go
Labels: area/go

restore test for ambiguous step type
  pkg/blocks/ttps_test.go
Labels: area/go

fix step outputs substitution to reflect new templating approach
  pkg/blocks/context.go
  pkg/blocks/context_test.go
Labels: area/go

restore basicstep test that was temporarily commented out
  pkg/blocks/basicstep_test.go
Labels: area/go

uncomment remaining e2e tests
  pkg/runner/execute_test.go
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
Labels: area/go

appease pre-commit
  go.mod
  go.sum
  pkg/blocks/context.go
  pkg/blocks/loader.go
  pkg/preprocess/preprocess.go
  pkg/preprocess/preprocess_test.go
Labels: area/go

restore outputs tests
  pkg/outputs/outputs_test.go
Labels: area/go

Update comment to be compliant with doc autogen
  pkg/blocks/loader.go
Labels: area/go
