Repository facebookincubator/TTPForge, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/docs, area/ttps

Add NoCleanup as a handy debugging feature for building chains
  cmd/run.go
  go.sum
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute_test.go
Labels: area/go

Minor doc and label fixes
  .devcontainer/bash/devcontainer.json
  docs/container.md
  go.sum
Labels: area/docs

bugfix run
  cmd/run.go
Labels: area/go

resolve args inline, setup global input args for ttp steps
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/common.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Labels: area/go

Minor doc and label fixes
  .devcontainer/bash/devcontainer.json
  docs/container.md
  go.sum
Labels: area/docs

fix format
  .github/CODEOWNERS
Labels: area/github

Add NoCleanup Option (#97)
  cmd/run.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute_test.go
Labels: area/go

Fix CODEOWNERS mistake (#98)
  .github/CODEOWNERS
Labels: area/github

Added additional information to the testing doc
  docs/testing.md
Labels: area/docs

Improve Testing Guidelines
  docs/testing.md
Labels: area/docs

Removed unused labels; added new labels we've been employing
  .github/labels.yaml
Labels: area/github

Removed unused labels; added new labels we've been employing
  .github/labels.yaml
Labels: area/github

resolve args inline, setup global input args for ttp steps
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
Labels: area/go

add arg variable mapping for run add map var into ttpexecconfig
  cmd/run.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
Labels: area/go

Incorporated some of Sam's requested changes
  docs/testing.md
Labels: area/docs

chore(deps): pin dependencies
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to d84805b
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update golang docker tag to v1.20.4
  .devcontainer/bash/Dockerfile
Labels: none

fix(deps): update module github.com/magefile/mage to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Labels: none

chore(deps): update renovatebot/github-action action to v37
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "main.go"

area/docs:
  - "docs/*"

area/ttps:
  - "ttps/**/*"
