Repository facebookincubator/TTPForge, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage, area/docs, area/ttps

edit step test now passes - need to add more tests
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/ttps.go
Labels: area/go

add error test case asserting against message
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
Labels: area/go

add new test for missing old
  pkg/blocks/editstep_test.go
Labels: area/go

test cases now test when no edits are specified
  pkg/blocks/editstep_test.go
Labels: area/go

basic non regex editing works
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
Labels: area/go

fix(deps): update module github.com/stretchr/testify to v1.8.4
  go.mod
  go.sum
Labels: area/go

fix(deps): update module github.com/spf13/viper to v1.16.0
  go.mod
  go.sum
Labels: area/go

multi-line execution works
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
Labels: area/go

add multiline comment out test case - more complex regex
  pkg/blocks/editstep_test.go
Labels: area/go

added errors when a pattern is not found
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
Labels: area/go

appease pre-commit
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
Labels: area/go

beginning of example edit step TTP - need to fix workdir handling though
  pkg/blocks/editstep.go
  ttps/examples/steps/edit-step/file-to-edit.txt
  ttps/examples/steps/edit-step/ttp.yaml
Labels: area/go, area/ttps

Closes #126 and fixes broken container action
  .gvm
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

fix edit step - testing on example works now
  pkg/blocks/editstep.go
  ttps/examples/steps/edit-step/ttp.yaml
Labels: area/go, area/ttps

add backup file option and tests
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  ttps/examples/steps/edit-step/ttp.yaml
Labels: area/go, area/ttps

appease precommit
  ttps/examples/steps/edit-step/file-to-edit.txt
  ttps/examples/steps/edit-step/ttp.yaml
Labels: area/ttps

appease precommit some more
  pkg/blocks/editstep.go
Labels: area/go

Closes #126 and fixes broken container action
  .gvm
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

fix(deps): update module github.com/spf13/viper to v1.16.0
  go.mod
  go.sum
Labels: area/go

Add new step type: EditStep (#132)
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/step.go
  pkg/blocks/ttps.go
  ttps/examples/steps/edit-step/file-to-edit.txt
  ttps/examples/steps/edit-step/ttp.yaml
Labels: area/go, area/ttps

fix(deps): update module github.com/stretchr/testify to v1.8.4 (#127)
  go.sum
Labels: area/go

chore(deps): update actions/checkout digest to c85c95e
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update docker/build-push-action digest to 44ea916
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update docker/login-action digest to 465a078
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update docker/setup-buildx-action digest to 6a58db7
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update docker/setup-qemu-action digest to 2b82ce8
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 316a175
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update actions/checkout action to v3.5.3
  .github/workflows/container.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update golang docker tag to v1.20.5
  .devcontainer/bash/Dockerfile
Labels: none

chore(deps): update actions/labeler action to v4.1.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

Incorporate new variadic argument handling
  cmd/run.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
Labels: area/go

Add variadic params example
  .vscode/launch.json
  go.mod
  go.sum
  pkg/files/yaml.go
  ttps/examples/variadic-params/README.md
  ttps/examples/variadic-params/delta.go
  ttps/examples/variadic-params/delta.yaml
Labels: area/go, area/ttps

Add integration test for variadic params
  cmd/run_integration_test.go
  go.mod
  go.sum
  ttps/examples/variadic-params/delta.go
  ttps/examples/variadic-params/delta.log
  ttps/examples/variadic-params/delta.yaml
Labels: area/go, area/ttps

Delete launch.json
  .vscode/launch.json
Labels: none

chore(deps): update actions/checkout digest to c85c95e (#135)
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update docker/build-push-action digest to 44ea916 (#136)
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update docker/login-action digest to 465a078 (#137)
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update docker/setup-buildx-action digest to 6a58db7 (#138)
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update docker/setup-qemu-action digest to 2b82ce8 (#139)
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 316a175 (#140)
  .github/workflows/semgrep.yaml
Labels: area/github

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "main.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

area/docs:
  - "docs/*"

area/ttps:
  - "ttps/**/*"
