Repository facebookincubator/TTPForge, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage, area/docs, area/ttps

chore(deps): update renovatebot/github-action action to v39 (#178)
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.3.0 (#177)
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update golang docker tag to v1.20.6 (#176)
  .devcontainer/bash/Dockerfile
  .tool-versions
Labels: none

chore(deps): update docker/setup-buildx-action digest to 4c0219f (#172)
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update dependency python to v3.11.4
  .tool-versions
Labels: none

cleanup steps now use correct executionContext
  pkg/blocks/subttp.go
Labels: area/go

chore(deps): update dependency python to v3.11.4 (#173)
  .tool-versions
Labels: none

remove spammy logs
  pkg/blocks/basicstep.go
  pkg/blocks/ttps.go
Labels: area/go

delete moar annoying logs
  pkg/blocks/basicstep.go
Labels: area/go

Misc Bugfixes (#185)
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
Labels: area/go

chore(deps): update actions/setup-python digest to 61a6322
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 5f52783
  .github/workflows/semgrep.yaml
Labels: area/github

Update build process to use asdf for language management
  .asdf
  .devcontainer/zsh/Dockerfile
  .gvm
  docs/container.md
  docs/dev.md
Labels: area/docs

Update to go 1.20.6
  .tool-versions
Labels: none

Update renovate to clean up old dashboard; dep updates
  .github/workflows/renovate.yaml
  magefiles/go.mod
  magefiles/go.sum
Labels: area/github, area/go, area/mage

Doc bug fix
  cmd/README.md
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  pkg/args/README.md
  pkg/blocks/README.md
  pkg/files/README.md
  pkg/logging/README.md
  pkg/network/README.md
  pkg/outputs/README.md
  pkg/runner/README.md
Labels: area/go, area/mage

chore(deps): update actions/setup-python digest to 61a6322 (#187)
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 5f52783 (#188)
  .github/workflows/semgrep.yaml
Labels: area/github

Doc bug fix
  cmd/README.md
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  pkg/args/README.md
  pkg/blocks/README.md
  pkg/files/README.md
  pkg/logging/README.md
  pkg/network/README.md
  pkg/outputs/README.md
  pkg/runner/README.md
Labels: area/go, area/mage

Update build process to use asdf for language management
  .asdf
  .devcontainer/zsh/Dockerfile
  .gvm
  docs/container.md
  docs/dev.md
Labels: area/docs

Update renovate to clean up old dashboard; dep updates
  .github/workflows/renovate.yaml
  magefiles/go.mod
  magefiles/go.sum
Labels: area/github, area/go, area/mage

Update to go 1.20.6
  .tool-versions
Labels: none

chore(deps): update dependency python to v3.11.4
  .tool-versions
Labels: none

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Labels: none

Fix variadic args example and docs
  README.md
  examples/variadic-params/README.md
  examples/variadic-params/variadicParameterExample.go
  examples/variadic-params/variadicParameterExample.yaml
  ttps/examples/variadic-params/variadicParameterExample.yaml
Labels: area/ttps

Moved examples out of ttps to examples directory
  .vscode/launch.json
  examples/args/README.md
  examples/args/define-args.yaml
  examples/outputs/README.md
  examples/outputs/step-outputs.yaml
  examples/steps/edit-step/file-to-edit.txt
  examples/steps/edit-step/ttp.yaml
  examples/sub-ttps/example.yaml
  examples/sub-ttps/my-sub-ttps/ttp1.yaml
  examples/sub-ttps/my-sub-ttps/ttp2.yaml
  examples/variadic-params/README.md
Labels: none

Add pre-commit hook to check dependencies for incompatible licenses
  .hooks/go-licenses.sh
  .pre-commit-config.yaml
Labels: area/pre-commit

Update ttp_search_paths to point to examples
  config.yaml
Labels: none

chore(deps): update dependency ruby to v3.2.2 (#193)
  .tool-versions
Labels: none

chore(deps): update dependency python to v3.11.4 (#192)
  .tool-versions
Labels: none

Add pre-commit hook to check dependencies for incompatible licenses
  .hooks/go-licenses.sh
  .pre-commit-config.yaml
Labels: area/pre-commit

Update ttp_search_paths to point to examples
  config.yaml
Labels: none

Fix variadic args example and docs
  README.md
  examples/variadic-params/README.md
  examples/variadic-params/variadicParameterExample.go
  examples/variadic-params/variadicParameterExample.yaml
  ttps/examples/variadic-params/variadicParameterExample.yaml
Labels: area/ttps

Moved examples out of ttps to examples directory
  .vscode/launch.json
  examples/args/README.md
  examples/args/define-args.yaml
  examples/outputs/README.md
  examples/outputs/step-outputs.yaml
  examples/steps/edit-step/file-to-edit.txt
  examples/steps/edit-step/ttp.yaml
  examples/sub-ttps/example.yaml
  examples/sub-ttps/my-sub-ttps/ttp1.yaml
  examples/sub-ttps/my-sub-ttps/ttp2.yaml
  examples/variadic-params/README.md
Labels: none

Minor doc content updates
  README.md
  docs/dev.md
Labels: area/docs

chore(deps): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/tidwall/gjson to v1.15.0
  go.mod
  go.sum
Labels: area/go

fix(deps): update module github.com/tidwall/gjson to v1.15.0 (#204)
  go.mod
  go.sum
Labels: area/go

chore(deps): update renovatebot/github-action action to v39.0.1 (#203)
  .github/workflows/renovate.yaml
Labels: area/github

Improve barrier to entry for new forgers
  README.md
Labels: none

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "main.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

area/docs:
  - "docs/*"

area/ttps:
  - "ttps/**/*"
