Repository facebookincubator/TTPForge, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage, area/docs, area/ttps

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "main.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

area/docs:
  - "docs/*"

area/ttps:
  - "ttps/**/*"

appease pre-commit
  go.sum
  pkg/blocks/results.go
  pkg/blocks/subttp.go
Labels: area/go

update docs and fix mage dependencies as instructed
  magefiles/go.mod
  magefiles/go.sum
  pkg/blocks/README.md
  pkg/files/README.md
Labels: area/go, area/mage

delete extensive legacy substitution code - all tests still pass without any of it
  pkg/blocks/basicstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
Labels: area/go

delete legacy step output entirely - tests still pass
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
Labels: area/go

first test of json lookups using gjson is successful
  go.mod
  go.sum
  pkg/blocks/results.go
  pkg/outputs/outputs.go
  pkg/outputs/outputs_test.go
Labels: area/go

add additional test cases
  pkg/outputs/outputs_test.go
Labels: area/go

add parse function
  pkg/outputs/outputs.go
  pkg/outputs/outputs_test.go
Labels: area/go

add json output parsing support for basicstep
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/step.go
Labels: area/go

variable expansion of outputs is working with a stub - need to clean up code plus tests
  pkg/blocks/context.go
  pkg/blocks/context_test.go
  pkg/blocks/ttps.go
Labels: area/go

add failing test cases to prove reliability
  pkg/blocks/context.go
  pkg/blocks/context_test.go
Labels: area/go

json variable expressions in ExpandVariables are now working
  pkg/blocks/context.go
  pkg/blocks/context_test.go
Labels: area/go

argument expansion using ExpandVariables now works
  cmd/run.go
  pkg/blocks/basicstep.go
  pkg/blocks/context.go
  pkg/blocks/context_test.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
Labels: area/go

basic argument parsing now works as standalone package - now must validate types
  pkg/args/spec.go
  pkg/args/spec_test.go
Labels: area/go

add validation for argument types
  pkg/args/spec.go
  pkg/args/spec_test.go
Labels: area/go

args: sane handling for required arguments
  pkg/args/spec.go
  pkg/args/spec_test.go
Labels: area/go

new arg parsing code integrated - all tests pass
  cmd/run.go
  cmd/run_integration_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/runner/execute_test.go
Labels: area/go

args: add example TTP
  ttps/examples/args/README.md
  ttps/examples/args/define-args.yaml
Labels: area/ttps

add additional examples
  ttps/examples/args/define-args.yaml
  ttps/examples/outputs/README.md
  ttps/examples/outputs/step-outputs.yaml
Labels: area/ttps

delete unused top-level TTP fetchEnv method
  pkg/blocks/ttps.go
Labels: area/go

expand variables within environment
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/step.go
Labels: area/go

make variable expansion work again
  pkg/blocks/filestep.go
  pkg/runner/execute_test.go
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
Labels: area/go

remove redundant yaml test
  pkg/files/yaml_test.go
Labels: area/go

remove stuttering from OutputSpec
  pkg/blocks/step.go
  pkg/outputs/outputs.go
  pkg/outputs/outputs_test.go
Labels: area/go

remove stuttering and add some comments
  pkg/outputs/outputs.go
  pkg/outputs/outputs_test.go
Labels: area/go

add comments on outputs package
  pkg/outputs/outputs.go
Labels: area/go

add comments on args package
  pkg/args/spec.go
Labels: area/go

appease pre-commit - just need to fix markdown files now
  cmd/run_integration_test.go
  pkg/args/README.md
  pkg/args/spec.go
  pkg/blocks/README.md
  pkg/blocks/context.go
  pkg/files/README.md
  pkg/outputs/README.md
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
  ttps/examples/args/README.md
  ttps/examples/args/define-args.yaml
  ttps/examples/outputs/README.md
  ttps/examples/outputs/step-outputs.yaml
Labels: area/go, area/ttps

appease pre-commit - shoudl all pass now
  pkg/blocks/README.md
  pkg/blocks/context.go
  ttps/examples/args/README.md
  ttps/examples/outputs/README.md
Labels: area/go, area/ttps

chore(deps): update docker/setup-buildx-action digest to 4c0219f
  .github/workflows/container.yaml
Labels: area/github

chore(deps): update golang docker tag to v1.20.6
  .devcontainer/bash/Dockerfile
  .tool-versions
Labels: none

chore(deps): update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39
  .github/workflows/renovate.yaml
Labels: area/github

Unify Variable Expansion across Step Types and Variable Types (+ key bugfixes) (#171)
  cmd/run.go
  cmd/run_integration_test.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  pkg/args/README.md
  pkg/args/spec.go
  pkg/args/spec_test.go
  pkg/blocks/README.md
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/context.go
  pkg/blocks/context_test.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/results.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/README.md
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/outputs/README.md
  pkg/outputs/outputs.go
  pkg/outputs/outputs_test.go
  pkg/runner/execute_test.go
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
  ttps/examples/args/README.md
  ttps/examples/args/define-args.yaml
  ttps/examples/outputs/README.md
  ttps/examples/outputs/step-outputs.yaml
Labels: area/go, area/mage, area/ttps

add cleanup-delay-seconds CLI parameter - useful for TTP iteration
  cmd/run.go
  pkg/blocks/context.go
  pkg/blocks/ttps.go
  ttps/examples/sub-ttps/my-sub-ttps/ttp1.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp2.yaml
Labels: area/go, area/ttps

add cleanup-delay-seconds CLI parameter - useful for TTP iteration (#180)
  cmd/run.go
  pkg/blocks/context.go
  pkg/blocks/ttps.go
  ttps/examples/sub-ttps/my-sub-ttps/ttp1.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp2.yaml
Labels: area/go, area/ttps

add env passthrough
  pkg/blocks/basicstep.go
Labels: area/go

remove problematic logging output
  pkg/blocks/filestep.go
  pkg/blocks/subttp.go
Labels: area/go

fix variable expansion for sub TTPs
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Labels: area/go

fix cleanup segfaults
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
Labels: area/go
