Repository facebookincubator/TTPForge, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage, area/docs, area/ttps

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "main.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

area/docs:
  - "docs/*"

area/ttps:
  - "ttps/**/*"

Update preprocess.go
  pkg/preprocess/preprocess.go
Labels: area/go

Update comments for doc autogen
  pkg/preprocess/preprocess.go
Labels: area/go

Mild formatting
  pkg/preprocess/preprocess.go
Labels: area/go

Appease pre-commit
  pkg/preprocess/preprocess.go
Labels: area/go

Add/Update autogen docs
  pkg/blocks/README.md
  pkg/preprocess/README.md
  pkg/preprocess/preprocess.go
Labels: area/go

Update test to table format for longevity
  pkg/preprocess/preprocess_test.go
Labels: area/go

Cleaned up code-standards verbiage; linting
  docs/code-standards.md
Labels: area/docs

Fixed bug in renovate bot config
  .github/workflows/renovate.yaml
Labels: area/github

Native Golang Template Support (#223)
  cmd/run.go
  cmd/run_integration_test.go
  go.mod
  go.sum
  pkg/args/spec.go
  pkg/args/spec_test.go
  pkg/blocks/README.md
  pkg/blocks/basicstep_test.go
  pkg/blocks/context.go
  pkg/blocks/context_test.go
  pkg/blocks/loader.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/sync_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/preprocess/README.md
  pkg/preprocess/preprocess.go
  pkg/preprocess/preprocess_test.go
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
Labels: area/go

Cleaned up code-standards verbiage; linting (#224)
  docs/code-standards.md
Labels: area/docs

Fixed bug in renovate bot config (#225)
  .github/workflows/renovate.yaml
Labels: area/github

first repo test passes - loads configs successfully
  pkg/repos/config.go
  pkg/repos/config_test.go
Labels: area/go

appease pre-commit
  pkg/repos/config.go
  pkg/repos/config_test.go
Labels: area/go

add first test case with new api
  pkg/repos/config.go
  pkg/repos/config_test.go
Labels: area/go

improve test complexity
  pkg/repos/config_test.go
Labels: area/go

add template search
  pkg/repos/config.go
  pkg/repos/config_test.go
Labels: area/go

rename for clarity
  pkg/repos/repo.go
  pkg/repos/repo_test.go
Labels: area/go

simplifying config - removing stack trace
  cmd/new_test.go
  cmd/root.go
  cmd/run_integration_test.go
  config.yaml
  pkg/logging/logger.go
Labels: area/go

fix tests
  pkg/logging/logger_test.go
Labels: area/go

rip out saveConfig - do not need it
  cmd/root.go
Labels: area/go

remove dead function
  cmd/root.go
Labels: area/go

minimize config and ensure that example ttps still work
  config.yaml
  examples/sub-ttps/example.yaml
  examples/sub-ttps/my-sub-ttps/ttp2.yaml
Labels: none

remove template tests pending refactor
  cmd/new_test.go
Labels: area/go

repos: rewrite for afero
  pkg/repos/repo.go
  pkg/repos/repo_test.go
Labels: area/go

actually cloning the repo works end to end - now need to update search paths
  cmd/config.go
  cmd/default-config.yaml
  cmd/root.go
  go.mod
  go.sum
  main.go
  pkg/repos/repo.go
Labels: area/go

remove dead code
  cmd/run.go
Labels: area/go

move examples to armory
  cmd/run_integration_test.go
  examples/args/README.md
  examples/args/define-args.yaml
  examples/outputs/README.md
  examples/outputs/step-outputs.yaml
  examples/steps/edit-step/file-to-edit.txt
  examples/steps/edit-step/ttp.yaml
  examples/sub-ttps/example.yaml
  examples/sub-ttps/my-sub-ttps/ttp1.yaml
  examples/sub-ttps/my-sub-ttps/ttp2.yaml
  examples/variadic-params/README.md
  examples/variadic-params/variadicParameterExample.go
  examples/variadic-params/variadicParameterExample.yaml
Labels: area/go

search path into armory works
  cmd/run.go
Labels: area/go

delete legacy code now that run is streamlined - will add back these e2e tests later
  go.mod
  go.sum
  pkg/files/yaml.go
  pkg/runner/README.md
  pkg/runner/execute.go
  pkg/runner/execute_test.go
  pkg/runner/test-ttps/relative-paths/e/e.sh
  pkg/runner/test-ttps/relative-paths/very/b.sh
  pkg/runner/test-ttps/relative-paths/very/d/d.sh
  pkg/runner/test-ttps/relative-paths/very/nested/a.sh
  pkg/runner/test-ttps/relative-paths/very/nested/c.sh
  pkg/runner/test-ttps/relative-paths/very/nested/ttp.yaml
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
  pkg/runner/test-ttps/variable-expansion/write-to-result.sh
Labels: area/go

delete dead config entry
  cmd/root.go
Labels: area/go

centralize afero test utilities
  pkg/repos/repo.go
  pkg/repos/repo_test.go
  pkg/testutils/fs.go
Labels: area/go

WIP - another subTTP execution step passing
  cmd/run.go
  pkg/blocks/context.go
  pkg/blocks/loader.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Labels: area/go

missed a file
  pkg/blocks/subttp_test.go
Labels: area/go

finalize subTTP tests
  pkg/blocks/subttp_test.go
Labels: area/go

Add license badge
  README.md
Labels: none

remove templates until updated for compatibility
  cmd/new.go
  templates/bash/README.md.tmpl
  templates/bash/bashTTP.bash.tmpl
  templates/bash/bashTTP.yaml.tmpl
Labels: area/go

remove dead config
  config.yaml
Labels: none

add initialization command
  cmd/default-config.yaml
  cmd/init.go
  pkg/repos/repo.go
Labels: area/go

appease pre-commit
  cmd/config.go
  cmd/default-config.yaml
  pkg/testutils/fs.go
Labels: area/go

appease pre-commit
  cmd/config.go
  cmd/root.go
  cmd/run.go
  pkg/repos/repo.go
  pkg/repos/repo_test.go
  pkg/testutils/fs.go
Labels: area/go
