Repository facebookincubator/TTPForge, pull requests merged in 2023-08, with the labels that each got.

#237 Coverage
  .github/workflows/codeql-analysis.yaml
  .github/workflows/delete-old-wf.yaml
  .github/workflows/tests.yaml
  README.md
Labels: area/github, cla signed

#236 Refactor Language Setup, Update Workflows, Enhance Documentation Generation, and Correct License Links
  .asdf
  .github/workflows/pre-commit.yaml
  .hooks/generate-docs.sh
  .pre-commit-config.yaml
  .tool-versions
  cmd/README.md
  docs/container.md
  magefiles/tmpl/README.md.tmpl
  pkg/args/README.md
  pkg/blocks/README.md
  pkg/files/README.md
  pkg/logging/README.md
  pkg/network/README.md
  pkg/outputs/README.md
  pkg/preprocess/README.md
  pkg/repos/README.md
  pkg/testutils/README.md
Labels: area/github, area/pre-commit, area/go, area/docs, cla signed

#239 Resolve CodeQL Scan Result
  .github/workflows/codeql-analysis.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
  pkg/blocks/README.md
  pkg/blocks/common.go
  pkg/blocks/common_test.go
Labels: area/github, area/go, cla signed

#240 Fix container
  .devcontainer/bash/Dockerfile
  .devcontainer/bash/devcontainer.json
  .devcontainer/zsh/Dockerfile
  .devcontainer/zsh/devcontainer.json
  .github/workflows/container.yaml
  docs/container.md
Labels: area/github, area/docs, cla signed

#242 Improve Logging Structure and Remove Viper
  .pre-commit-config.yaml
  cmd/init.go
  cmd/root.go
  go.mod
  go.sum
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/common.go
  pkg/blocks/filestep.go
  pkg/blocks/filestep_test.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/logging/README.md
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Labels: area/pre-commit, area/go, cla signed

#243 Upgrade gjson dependency
  go.mod
  go.sum
Labels: area/go, cla signed

#244 Prune Dead Code and Dependencies
  go.mod
  go.sum
  pkg/blocks/README.md
  pkg/blocks/common.go
  pkg/blocks/common_test.go
  pkg/files/README.md
  pkg/files/file.go
  pkg/files/file_examples_test.go
  pkg/files/file_test.go
Labels: area/go, cla signed

#246 Downgrade Zap for Compatibility
  go.mod
  go.sum
Labels: area/go, cla signed

#248 Fix indirect dependency compatibility issue
  go.mod
  go.sum
Labels: area/go, cla signed

#247 Dev Container and container build refactor + fixes
  .devcontainer/bash/Dockerfile
  .devcontainer/bash/files/mage_completion.sh
  .github/workflows/container.yaml
  .github/workflows/delete-old-wf.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/pre-commit.yaml
  docs/container.md
  docs/dev.md
Labels: area/github, area/go, area/docs, cla signed

#260 Update instructions to get latest release
  README.md
Labels: cla signed

#274 Reduce Minimum Required Go Version
  go.mod
Labels: area/go, cla signed
