Repository facebookincubator/TTPForge, pull requests merged in 2023-09, with the labels that each got.

#280 Reduce User Confusion through Improved Error Handling and Logging
  cmd/README.md
  cmd/root.go
  cmd/run.go
  main.go
  pkg/logging/logger.go
Labels: area/go, cla signed

#304 Add all PT members to CODEOWNERS
  .github/CODEOWNERS
Labels: area/github, cla signed

#329 Enhance TTP object with MITRE ATT&CK mapping
  magefiles/go.mod
  magefiles/go.sum
  pkg/blocks/README.md
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Labels: area/go, cla signed, area/mage

#330 Switch to GITHUB_TOKEN for pushing package
  .devcontainer/bash/Dockerfile
  .github/workflows/container.yaml
Labels: area/github, cla signed

#345 Fix asdf docs
  README.md
  docs/dev.md
  docs/dev/README.md
  docs/dev/update-go.md
Labels: area/docs, cla signed

#342 Fix --no-cleanup
  cmd/run.go
  cmd/run_test.go
Labels: area/go, cla signed
